@font-face {
  font-family: 'Satoshi-regular';
  src: url('assets/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('assets/fonts/Satoshi-Regular.woff') format('woff'),
    url('assets/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('assets/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('assets/fonts/Satoshi-Medium.woff') format('woff'),
    url('assets/fonts/Satoshi-Medium.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'outfit';
  src: url('assets/fonts/Outfit-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url('assets/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('assets/fonts/Satoshi-Bold.woff') format('woff'),
    url('assets/fonts/Satoshi-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi-light';
  src: url('assets/fonts/Satoshi-Light.woff2') format('woff2'),
    url('assets/fonts/Satoshi-Light.woff') format('woff'),
    url('assets/fonts/Satoshi-Light.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}
