@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/webfont/Aeonik-Light.woff2') format('woff2'),
    url('Aeonik/webfont/Aeonik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/webfont/Aeonik-Regular.woff2') format('woff2'),
    url('Aeonik/webfont/Aeonik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/webfont/Aeonik-Medium.woff2') format('woff2'),
    url('Aeonik/webfont/Aeonik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/webfont/Aeonik-Bold.woff2') format('woff2'),
    url('Aeonik/webfont/Aeonik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
