.about {
  background-color: rgba(255, 217, 237, 1);
}

.hero-left-right-container {
  display: flex;
  max-width: 973px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px 150px 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-left-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.career {
  display: flex;
  gap: 40px;
}

.page-title {
  font-family: var(--font-bold-aeonik);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(237, 15, 132, 1);
}

.page-info-long-text {
  font-family: var(--font-bold-aeonik);
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
  color: rgba(19, 21, 22, 1);
  max-width: 535px;
}

.page-info-short-paragraph {
  font-family: var(--font-regular-satoshi);
  font-size: 20px;
  font-weight: 400;
  line-height: 29.7px;
  text-align: left;
  color: rgba(95, 96, 96, 1);
  max-width: 484px;
}

.cta--left-container-book-demo {
  font-family: var(--font-meduim-aeonik);
  font-size: 15.13px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 35, 67, 1);
  text-decoration: none;
  width: 100%;
  max-width: 127px;
  /* width: Fixed (127px) px;
  height: Fixed (48.6px) px; */
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
}

.hero-right-container {
  width: 100%;
  max-width: 456.32px;
}

@media screen and (max-width: 786px) {
  .hero-left-right-container {
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 150px 10px;
  }

  .hero-left-container {
    align-items: center;
  }

  .page-title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }

  .page-info-long-text {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
  }

  .page-info-short-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .cta--left-container-book-demo {
    margin-bottom: 40px;
  }
  .hero-right-container img {
    width: 100%;
    max-width: 456.32px;
  }
}

.passion-section {
  width: 100%;
  max-width: 1018px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 90px 40px;
}

.passion-section img {
  max-width: 89.93px;
  min-height: 89.93px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-passion h2 {
  font-family: var(--font-bold-aeonik);
  font-size: 40px;
  font-weight: 700;
  line-height: 71px;
  text-align: left;
  color: var(--color-secondary);
}

.about-passion-info {
  width: 100%;
  max-width: 978px;
  font-family: var(--font-light-aeonik);
  font-size: 24px;
  font-weight: 250;
  line-height: 42.07px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.vision-mission {
  width: 100%;
  background-color: rgba(245, 253, 255, 1);
  margin: 0 auto;
}

.inner-vision-mission {
  max-width: 1018px;
  width: 100%;
  padding: 100px 40px;
  display: flex;
  margin: 0 auto;
  gap: 80px;
  align-items: flex-start;
}
.vision-container {
  max-width: 294px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vision {
  width: 89.93px;
  height: 89.93px;
  object-fit: cover;
}

.vision-container h2 {
  font-family: var(--font-bold-aeonik);
  font-size: 40px;
  font-weight: 700;
  line-height: 71px;
  text-align: left;
  color: rgba(9, 27, 44, 1);
}

.vision-container p {
  font-family: var(--font-light-aeonik);
  font-size: 24px;
  font-weight: 250;
  line-height: 42.07px;
  text-align: left;
  color: black;
}

.straightLine {
  width: 0.9px; /* Width of the vertical line */
  height: 100%; /* Height of the vertical line */
  min-height: 287px;
  background-color: rgba(168, 206, 216, 1); /* Color of the line */
  margin: 20px auto; /* Space between the divs and the line */
}

.mission-container {
  max-width: 565px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mission {
  width: 89.93px;
  height: 89.93px;
  object-fit: cover;
}

.mission-container h2 {
  font-family: var(--font-bold-aeonik);
  font-size: 40px;
  font-weight: 700;
  line-height: 71px;
  text-align: left;
  color: rgba(9, 27, 44, 1);
}

.mission-container p {
  font-family: var(--font-light-aeonik);
  font-size: 24px;
  font-weight: 250;
  line-height: 42.07px;
  text-align: left;
  color: black;
}

@media screen and (max-width: 786px) {
  /* .about-passion-info {
  } */

  .inner-vision-mission {
    flex-direction: column;
  }
  .straightLine {
    display: none;
  }
  .vision-container,
  .mission-container {
    max-width: 100%;
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  /* .about-passion-info {
  } */
  .passion-section {
    padding: 50px 20px;
  }
  .inner-vision-mission {
    flex-direction: column;
    padding: 30px 20px;
  }

  .about-passion h2,
  .vision-container h2,
  .mission-container h2 {
    font-size: 36px;
    line-height: 71px;
  }

  .about-passion-info,
  .vision-container p,
  .mission-container p {
    font-size: 22px;
    line-height: 39px;
  }
}
