@font-face {
  font-family: 'Satoshi-regular';
  src: url('assets/fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('assets/fonts/Satoshi/Satoshi-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'outfit';
  src: url('assets/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url('assets/fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('assets/fonts/Aeonik/Aeonik-Bold.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('assets/fonts/Aeonik/Aeonik-Medium.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-regular';
  src: url('assets/fonts/Aeonik/Aeonik-Regular.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-meduim';
  src: url('assets/fonts/Aeonik/Aeonik-Medium.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-light';
  src: url('assets/fonts/Aeonik/Aeonik-Light.otf');
  font-style: normal;
  font-display: swap;
}
